<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title ng-bind="title">{{book.title}} | Book Search Engine | Book Price Comparison India</title>
  <meta name="description" content="{{book.title}} | Best books prices anytime, anywhere. BestBooksPrices is book search engine which helps you compare prices and availability of books across various online book stores in India.">
  <meta name="keywords" content="{{book.title}}, online book stores, book search engine, compare book, compare prices books, sell textbooks">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">

</head>

<body class="ng-cloak">
  <header ng-include="'/modules/core/client/views/header.client.view.html'" class="navbar navbar-fixed-top"></header>
  <section class="content">
    <section class="container">
        <script type="text/javascript">
            var isbn = {{isbn}};
        </script>
        <section ng-controller="BookController" class="container push-60">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h1 class="brand-name">best books prices</h1>
                    <h3 class="brand-text">anytime, anywhere.</h3>
                </div>
                <div class="col-md-4">
                    <form class="form push-30 search-box search-box-small" ng-submit="runSearch()">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search by a book title" value="" id="q" ng-model="q" autocomplete="off" search-bar>
                          <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">Go!</button>
                          </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="clear separator-border"></div>

            <div class="row bookDetails push-30">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <img src="{{book.imageUrl}}" class="product-img" />
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <h1 class="bookTitle">{{book.title}}</h1>
                        <h5><div class="star-ratings-sprite"><span style="width:{{totalRating}}%" class="star-ratings-sprite-rating"></span></div> &mdash; Based on ratings from {{book.pricingMap.length}} stores</h5>


                        <div class="clear separator-border"></div>
                        {% if (book.isbn10 != -1) %}
                        <h5>ISBN 10: {{book.isbn10}}</h5>
                        {% endif %}
                        {% if (book.isbn13 != -1) %}
                        <h5>ISBN 13: {{book.isbn13}}</h5>
                        {% endif %}
                        <div class="clear separator-border"></div>

                        <h3 class="sectionHeader">
                            Book Price 
                            <span class="latestPrice hidden">
                                <a ng-click="fetchLatestPrices()">
                                    <div style="display: inline-block;" ng-hide="reloadingPrices > 0">
                                        click here to see the latest prices
                                    </div>
                                </a>
                                <div ng-show="reloadingPrices > 0" style="display: inline-block;">
                                    <img src="img/loaders/ring-alt.svg" alt="Loading..." title="Loading..." width="20" height="20" /> fetching latest prices...
                                </div>
                            </span>
                        </h3>
                        <div class="pricingTable">
                            {% for bookStore in book.pricingMap %}
                            <a class="table-row" href="{{bookStore.url}}" target="_blank">
                                <div class="table-cell">₹ {{bookStore.price}}</div>
                                <div class="table-cell">{{bookStore.seller}}</div>
                                <div class="table-cell"><div class="star-ratings-sprite"><span style="width:{{bookStore.rating * 20}}%" class="star-ratings-sprite-rating"></span></div></div>
                                <div class="table-cell">
                                    {% if (bookStore.inStock) %} 
                                        <span>In Stock</span>
                                    {% else %}
                                        <span>Out of Stock</span>
                                    {% endif %}
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row push-30 bookDetails">
                    {% if (showDescription) %}
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="sectionHeader">Book Description</h3>
                        <div class="clear separator-border"></div>
                        <p>{{book.description}}</p>
                    </div>
                    {% endif %}
                </div>
        </section>
    </section>
  </section>

  <!--Load The Socket.io File-->
    <!--
  <script type="text/javascript" src="custom/js/socket.io.min.js"></script>
-->
  <!--Application JavaScript Files-->
  
    {% for jsFile in jsFiles %}
    <!--<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}-->

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
  <!-- Google Analytics -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-82769061-1', 'auto');
  ga('send', 'pageview');
 
</script>
  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}
</body>

</html>
