@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Oswald:300,400,600,700|Architects+Daughter|Josefin+Slab:300,400,600,700');
body {
    font-family: 'Oswald', sans-serif; 
    font-weight: 300;
    background: #edeef0 none repeat scroll 0 0 !important;
}
.push-150 {
    padding: 150px 15px 0;
}
.push-60 {
    padding: 60px 15px 0;
}
.push-30 {
    padding: 30px 15px 0;
}
.navbar-green {
    background: #011936 none repeat scroll 0 0;
}
.navbar-brand {
    color: #ffffff;
    font-weight: bolder;
}
.navbar-nav > li > a {
    color: #ffffff;
    font-size: 14pt;
    text-transform: lowercase;
}
.nav > li.active, .nav > li.active > a, .nav > li > a:hover, .nav > li > a:focus, .nav > li:hover > a {
    background: #33658a none repeat scroll 0 0;
    box-shadow: none !important;
}
.brand-name {
    font-family: 'Indie Flower', cursive;
}
.brand-text {
    margin-top: -10px;
    font-family: 'Indie Flower', cursive;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    color: rgb(150, 150, 150);
    text-align: center;
    text-transform: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
}
.filterColumn {
    transition: all 0.25s ease-in 0s;
}
.separator-border {
    height: 1px;
    background:#ddd;
}
.panel-flat .panel-heading {
    padding-left: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.panel-heading, .panel-group .panel {
    border-radius: 0;
}
.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.panel-flat {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
}
.panel-group .panel + .panel {
    margin-top: 5px;
}
.panel-flat .panel-heading .panel-title {
    font-family: 'Architects Daughter', cursive;
    text-transform: lowercase;
}
.panel-title {
    color: #454545;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}
.panel-flat .panel-heading .panel-title a {
    display: block;
    width: 100%;
}
.hasMinus, .hasPlus {
    float: right;
    margin-top: 10px;
}
a:hover, a:focus {
    cursor: pointer;
    text-decoration: none;
    color: #33658a;
}
.hasMinus .i-minus::after {
    height: 0;
    left: 9px;
    position: absolute;
    top: 0;
    width: 1px;
}
.collapsed .hasMinus .i-minus::after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    height: 18px;
    left: 9px;
    position: absolute;
    top: -8px;
    transition: all 0.25s ease-in 0s;
    width: 1px;
}
.i-minus {
    background: #ccc none repeat scroll 0 0;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.45s ease-in 0s;
    width: 20px;
}

.clear {
    clear: both;
    margin:10px 0;
}

.collapse.in {
    display: block;
}

.collapse {
    display: none;
}

.filter-list label {
    font-family: "Josefin Slab", serif;
    font-weight: bold;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
  border-color: rgba(78, 198, 127, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(78, 198, 127, 0.6);
  outline: 0 none;
}

.item {
    display: inline-block;
    height: 300px;
    min-width: 200px;
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;
    font-family: 'Josefin Slab', serif;
}


.product {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    display: block;
    height: auto;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.product:hover {
    border: 1px solid #57c986;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.image {
    display: block;
    max-height: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-top:10px;
    transition: all 0.5s ease 0s;
    width: 100%;
}

.product:hover .image a img {
    transform: scale(1.3);
}

.image a {
    display: block;
    overflow: hidden;
    background: transparent;
}

.image a img {
    margin: 0 auto;
    height: 150px;
    max-height: 240px;
    transition: all 0.5s ease 0s;
}
.description {
    margin: 0 auto;
    max-width: 235px;
}
.description h4.name {
    width: 100%;
    height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px 5px;
}
.price {
    color: #454545;
    font-size: 18px;
    font-weight: 500;
}
.action-control {
    border: 0 none;
    display: block;
    height: auto;
    padding: 5px 0 15px;
    width: 100%;
}

.item:hover .action-control {
    border-bottom-color: #fff;
}

.acResults {
    background-color: window;
    border: 1px solid #ccc;
    left: 4% !important;
    overflow: hidden;
    padding: 0;
    top: 30px !important;
    width: 92% !important;
    z-index: 1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.search-box-small .acResults {
    left: 8% !important;
    width: 84% !important;
}
.acResults ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.acResults li {
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding: 6px 5px;
    text-align: left;
    width: 100%;
}

.acSelect {
    background-color: highlight;
    color: highlighttext;
}

.rzslider .rz-pointer {
    background-color: #003366;
    top: -10px;
    height: 24px;
    width: 24px;
}
.rzslider .rz-pointer::after {
    left: 8px;
    top: 8px;
    background-color: #3399FF;
}
.rzslider .rz-pointer.rz-active::after {
    background-color: #10C8CD;
}
.rzslider .rz-bar.rz-selection {
    background: #003366 none repeat scroll 0 0;
}
.bookDetails {
    font-family: 'Roboto', sans-serif;
}

.product-img {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    height: auto;
    float: left;
}

.bookTitle {
    font-weight: normal;
}

/* Star rating */
.star-ratings-sprite {
    background: url("/img/sprites/stars-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0;
    display: inline-block;
}
.star-ratings-sprite-rating {
    background: url("/img/sprites/stars-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: inline-block;
}

.pricingTable {
    display: table;
    width: 100%;
    border: 1px solid #ccc;
}
.table-row {
    border-top: 1px solid #d4d4d4;
    display: block;
    padding: 12px 13px;
}
.table-row:hover {
    background: #f7f7f7;
}
.table-row:first {
    border-top: none;
}
.table-cell {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    text-align: center;
    font-size: 14pt;
}
.latestPrice {
    padding-left: 20px;
    font-size: 10pt;
    text-transform: lowercase;
}

.filterResponsiveButton {
    display: none;
    width: 100px;
    text-align: center;
    margin: 10px auto;
}
@media only screen and (max-width: 500px) {
    .item {
        width: 100%;
    }
    .filterColumn {
        position: absolute;
        left: -100%;
        overflow: hidden;
        transition: 0.3s ease all;
    }
    .filterColumn.toggled {
        left: auto;
        position: relative;
        transition: 0.3s ease all;
    }
    .filterResponsiveButton {
        display: block;
    }
}