<section ng-controller="HomeController" class="container push-60">
    <update-title title="About | Online Book Shopping, Textbook Comparison Site"></update-title>
    <update-meta name="description" content="About | About the team, we are two brothers, Satvik Sachdev and Ritvik Sachdev. We would love to hear from you for some feedback!"></update-meta>
    <update-meta name="keywords" content="about , book search engine, compare book, compare prices books, sell textbooks, textbook price comparison, buy books online, textbook comparison site, sell textbooks compare, textbook rental comparison, compare book prices online"></update-meta>
    <div class="row">
        <div class="col-md-4 text-center">
            <h1 class="brand-name">best books prices</h1>
            <h3 class="brand-text">anytime, anywhere.</h3>
        </div>
        <div class="col-md-4">
            <form class="form push-30 search-box search-box-small" ng-submit="runSearch()">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search by a book title" value="" id="q" ng-model="q" autocomplete="off" search-bar>
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">Go!</button>
                  </span>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="clear separator-border"></div>

    <div class="row push-30">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>about</h1>
            <h4><a href="http://bestbooksprices.com/">BestBooksPrices</a> or BBP as we like to call it is book search engine which helps you compare prices and availability of books across various online book stores in india.</h4>
            <h4>About the team, we are two brothers, <a href="#linked-in">Satvik Sachdev</a> and <a href="#linked-in">Ritvik Sachdev</a>. We would love to <a ui-sref="contact-us">hear from you for some feedback!</a></h4>
        </div>
</section>