<section ng-controller="BookController" class="container push-60">
    <update-title title="{{book.title}} | Book Search Engine | Book Price Comparison India"></update-title>
    <update-meta name="description" content="{{book.title}} | Best books prices anytime, anywhere. BestBooksPrices is book search engine which helps you compare prices and availability of books across various online book stores in India."></update-meta>
    <update-meta name="keywords" content="{{book.title}}, online book stores, book search engine, compare book, compare prices books, sell textbooks"></update-meta>
    <div class="row">
        <div class="col-md-4 text-center">
            <h1 class="brand-name">best books prices</h1>
            <h3 class="brand-text">anytime, anywhere.</h3>
        </div>
        <div class="col-md-4">
            <form class="form push-30 search-box search-box-small" ng-submit="runSearch()">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search by a book title" value="" id="q" ng-model="q" autocomplete="off" search-bar>
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">Go!</button>
                  </span>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="clear separator-border"></div>
    
    <div class="row bookDetails push-30">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <img ng-src="{{book.imageUrl}}" class="product-img" />
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <h1 class="bookTitle">{{book.title}}</h1>
                <h5><div class="star-ratings-sprite"><span style="width:{{totalRating}}%" class="star-ratings-sprite-rating"></span></div> &mdash; Based on ratings from {{book.pricingMap.length}} stores</h5>
                
                
                <div class="clear separator-border"></div>
                <h5 ng-hide="book.isbn10 == -1">ISBN 10: {{book.isbn10}}</h5>
                <h5 ng-hide="book.isbn13 == -1">ISBN 13: {{book.isbn13}}</h5>
                <div class="clear separator-border"></div>
                
                <h3 class="sectionHeader">
                    Book Price 
                    <span class="latestPrice">
                        <a ng-click="fetchLatestPrices()">
                            <div style="display: inline-block;" ng-hide="reloadingPrices > 0">
                                click here to see the latest prices
                            </div>
                        </a>
                        <div ng-show="reloadingPrices > 0" style="display: inline-block;">
                            <img src="img/loaders/ring-alt.svg" alt="Loading..." title="Loading..." width="20" height="20" /> fetching latest prices...
                        </div>
                    </span>
                </h3>
                <div class="pricingTable">
                    <a class="table-row" ng-repeat="bookStore in book.pricingMap" href="" ng-href="{{bookStore.url}}" target="_blank">
                        <div class="table-cell">₹ {{bookStore.price | number}}</div>
                        <div class="table-cell">{{bookStore.seller | uppercase}}</div>
                        <div class="table-cell"><div class="star-ratings-sprite"><span style="width:{{bookStore.rating * 20}}%" class="star-ratings-sprite-rating"></span></div></div>
                        <div class="table-cell"><span ng-show="bookStore.inStock">In Stock</span><span ng-hide="bookStore.inStock">Out of Stock</span></div>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="row push-30 bookDetails">
            <div class="col-lg-12 col-md-12 col-sm-12" ng-show="{{book.description}}">
                <h3 class="sectionHeader">Book Description</h3>
                <div class="clear separator-border"></div>
                <p>{{book.description}}</p>
            </div>
        </div>
</section>