<section ng-controller="HomeController" class="container push-60">
    <update-title title="Contact Us | Compare Prices Books India"></update-title>
    <update-meta name="description" content="Contact Us | BestBooksPrices or BBP as we like to call it is book search engine which helps you compare prices and availability of books across various online book stores in India."></update-meta>
    <update-meta name="keywords" content="contact us, book price comparison, online book stores, book search engine, compare book, compare prices books, sell textbooks, textbook price comparison, buy books online, textbook comparison site, sell textbooks compare, textbook rental comparison"></update-meta>
    <div class="row">
        <div class="col-md-4 text-center">
            <h1 class="brand-name">best books prices</h1>
            <h3 class="brand-text">anytime, anywhere.</h3>
        </div>
        <div class="col-md-4">
            <form class="form push-30 search-box search-box-small" ng-submit="runSearch()">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search by a book title" value="" id="q" ng-model="q" autocomplete="off" search-bar>
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">Go!</button>
                  </span>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="clear separator-border"></div>

    <div class="row push-30">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>Wondering how to get in touch with us?</h1>
            <h3>Drop us an email at <a href="mailto:contact@bestbooksprices.com">contact -at- bestbooksprices.com</a></h3>
            <h2>- Or -</h2>
            <h3>Follow us on <a href="#">facebook</a></h3>
        </div>
</section>