<nav class="navbar navbar-green navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">
        <img src="img/brand/logo.png" alt="BBP Textbook Price Comparison | Buy Books Online India" title="Best Books Prices - Textbook Price Comparison | Buy Books Online India" style="width: 40px; margin-top: -9px;" />
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="about">About</a></li>
        <li ui-sref-active="active"><a ui-sref="contact-us">Contact us</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>