<section ng-controller="HomeController" class="container push-150">
    <update-title title="Textbook Price Comparison India | Compare Book Prices Online"></update-title>
    <update-meta name="description" content="BestBooksPrices is book search engine which helps you compare prices and availability of books across various online book stores in India. Compare Book Prices Online"></update-meta>
    <update-meta name="keywords" content="index, compare textbook prices, compare book prices, book price comparison, online book stores, book search engine, compare book, compare prices books, sell textbooks, textbook price comparison, buy books online, textbook comparison site, sell textbooks compare, textbook rental comparison, compare book prices online, online book shopping"></update-meta>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="brand-name">best books prices</h1>
            <h3 class="brand-text">anytime, anywhere.</h3>
        </div>
    </div>

    <div class="clear">
        <br />
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form search-box" ng-submit="runSearch()">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search by a book title" aria-describedby="basic-addon2" id="q" ng-model="q" autocomplete="off" search-bar>
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">Go!</button>
                  </span>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</section>