<section ng-controller="SearchController" class="container push-60">
    <update-title title="{{q}} - Search Results | Book Search Engine | Book Price Comparison India"></update-title>
    <update-meta name="description" content="Search {{q}} | Best books prices anytime, anywhere. BestBooksPrices is book search engine which helps you compare prices and availability of books across various online book stores in India."></update-meta>
    <update-meta name="keywords" content="{{q}}, online book stores, book search engine, compare book, compare prices books, sell textbooks"></update-meta>
    <div class="row">
        <div class="col-md-4 text-center">
            <h1 class="brand-name">best books prices</h1>
            <h3 class="brand-text">anytime, anywhere.</h3>
        </div>
        <div class="col-md-4">
            <form class="form push-30 search-box search-box-small" ng-submit="runSearch()">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search by a book title" value="" id="q" ng-model="q" autocomplete="off" search-bar>
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">Go!</button>
                  </span>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="clear separator-border"></div>

    <div class="row push-30">
        <div class="col-lg-3 col-md-3 col-sm-12 filterColumn" ng-class="responsiveShowFilters ? 'toggled' : ''">
            <div class="panel-group">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#sellersFilter" data-toggle="collapse" class="" aria-expanded="true">
                                results from
                                <span class="pull-right hasMinus"> 
                                    <i class="i-minus"></i>
                                </span> 
                            </a>
                        </h4>
                    </div>
                    <div id="sellersFilter" class="panel-collapse collapse in" style="height: auto;" aria-expanded="true">
                        <ul class="list-unstyled long-list filter-list">
                            <li ng-repeat="option in SellersFilter.options" ng-hide="!option.loading && option.count==0">
                                <div class="block-element">
                                    <label>
                                        <input type="checkbox" ng-model="option.IsIncluded" ng-checked="option.IsIncluded" checked="checked" ng-hide="option.loading" />
                                        
                                        <img src="img/loaders/ring-alt.svg" alt="Loading..." title="Loading..." width="20" height="20" ng-show="option.loading" />
                                        {{option.value}} <span>({{option.count}})</span>
                                    </label>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-group">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#priceRangeFilter" data-toggle="collapse" class="" aria-expanded="true">
                                price
                                <span class="pull-right hasMinus"> 
                                    <i class="i-minus"></i>
                                </span> 
                            </a>
                        </h4>
                    </div>
                    <div id="priceRangeFilter" class="panel-collapse collapse in" style="height: auto;" aria-expanded="true">
                        <rzslider
                            rz-slider-model="PriceRangeFilter.min"
                            rz-slider-high="PriceRangeFilter.max"
                            rz-slider-options="PriceRangeFilter.options"></rzslider>
                    </div>
                </div>
            </div>
            <div class="panel-group">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#instockFilter" data-toggle="collapse" class="" aria-expanded="true">
                                stock
                                <span class="pull-right hasMinus"> 
                                    <i class="i-minus"></i>
                                </span> 
                            </a>
                        </h4>
                    </div>
                    <div id="instockFilter" class="panel-collapse collapse in" style="height: auto;" aria-expanded="true">
                        <ul class="list-unstyled long-list filter-list">
                            <li>
                                <div class="block-element">
                                    <label>
                                        <input type="checkbox" ng-model="InStockFilter.IsIncluded" ng-checked="InStockFilter.IsIncluded" /> Include Out of Stock
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 resultsColumn">
            <button class="btn btn-primary filterResponsiveButton" id="toggleFilters" ng-click="toggleFilters()"><span ng-hide="responsiveShowFilters">Show</span><span ng-show="responsiveShowFilters">Hide</span> Filters</button>
            <div ng-repeat="book in Books | extractBooks:SellersFilter.options:PriceRangeFilter:InStockFilter.IsIncluded:this | orderBy:'-relevanceScore'" class="item col-sm-3 col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <input type="hidden" name="relevanceScore" value="{{book.relevanceScore}}" />
                    <div class="image">
                        <a ng-href="http://bestbooksprices.com/{{book.title | slugify}}/{{book.isbn13}}" target="_blank">
                            <img class="img-responsive" alt="{{book.title}}" ng-src="{{book.imageURL}}" />
                        </a>
                    </div>
                    <div class="description">
                        <h4 class="name"><a ng-href="http://bestbooksprices.com/{{book.title | slugify}}/{{book.isbn13}}" title="{{book.title}}" target="_blank">{{book.title}}</a></h4>
                        <h4>[{{book.matchesCount}} <span ng-if="book.matchesCount > 1">matches</span><span ng-if="book.matchesCount == 1">match</span>]</h4>
                    </div>
                    <div class="price">
                        <span>Rs. {{book.bestPrice | number}}</span>
                    </div>
                    <div class="action-control">
                        <a class="btn btn-primary" ng-href="http://bestbooksprices.com/{{book.title | slugify}}/{{book.isbn13}}" target="_blank"> 
                            <span class="add2cart">
                                <i class="glyphicon glyphicon-bookmark"> </i> 
                                Book Details 
                            </span> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>